.nav {
  width: 100vw;
  position: absolute;
  top: 0;
}

.buttons {
  display: flex;
  border: 2px solid purple;
  border-radius: 55px;
  margin: 0 150px;

  justify-content: flex-end;
  padding: 1rem 6rem;
  gap: 3rem;
}

.mblNav {
  position: absolute;
  height: auto;
  display: none;
  width: none;
  padding: 1rem 3rem;
  border: 1px solid white;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  right: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .buttons {
    margin: 0 23px;
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 670px) {
  .buttons {
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .mblNav {
    display: flex;
  }
}
