

nav ul li a:target {
  background-color: white;
  color: black;
}

nav ul li a.active {
  background-color: white;
  color: black;
}

/* Rest of your existing styles */
body {
  margin: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
}
.wholeComponent {
  overflow-x: hidden;
  z-index: -425425;
  width: auto;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  height: 45px;
  margin: auto;
  margin-top: 0;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
}

section {
  padding: 100px;
}

.img-about {
  height: 400px;
  width: 400px;

  border-radius: 50%;
  display: flex;
  object-fit: cover;
}

.blur,.blur1 {
  background-color: #1b1a2ea9;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
  
}

.buttonsmall {
  display: none;
}
.show {
  display: block;

}
.hide {
  display: none;
}
.menuButton {
  background-color: transparent;
  color: white;
}
.purple {
  color: purple;
}

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background: #120f1a;
  -webkit-border-radius: 8ex;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 1, 255);
  -webkit-border-radius: 8ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

@media screen and (max-width: 769px) {
  .hellonav {
    background-color: #120f1a;
  }
}
@media screen and (max-width: 499px) {
  .bg-body-tertiary {
    height: 71px;
  }
  .row {
    align-items: flex-end;
  }
}
@media screen and (max-width: 490px) {
  .buttonsmall {
    display: block;
  }
  .blur {
    height: 45vh;
  }
  .row{
    flex-direction: column;
  }
  .justify-content-end{
    justify-content: flex-start;
  }
}
@media screen and (max-width: 380px) {
 
  .img-about{
    height: 300px;
    width: 300px;
  }
}